body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-color: #000000;
  margin-top: 30px;
  color: #fffafa;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.git-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

.botao{
  text-align: center;
  position: center;
  background-color: #FFF14D;
  margin-top: 12px;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 0.9rem;
  border: none;
}

.botao:hover {
background-color: rgba(255, 255, 255, 204);
}

h2 {
  color: #ffffff;
  font-size: 30px;
}
/* #valorConvertido {
  color: #fffafa;
  font-size: 20px;
  margin-top: 30px;
} */
